<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="{{ 옷이미지 }}" alt="">
    <p></p>
    옷이름:{{ 옷이름 }}
    <p></p>
    옷가격:{{ 옷가격 }}
    <p></p>
    <a href="{% url 'shopapp:shop_box' pk=shop_pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        장바구니에 담기
    </a>
    주문하기
    <form action="{% url 'mainapp:create_shop' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select>
            {% for choice_option in test %}
            <option>{{ choice_option }}</option>
            {% endfor %}
        </select>
        {{ test }}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
    </form>

</body>
</html>