<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>주문페이지</h1>
    <img src="{{ 옷이미지 }}" alt="">
    <p></p>
    옷이름:{{ 옷이름 }}
    <p></p>
    옷가격:{{ 옷가격 }}
    <p></p>
    <form action="{% url 'shop_order_app:order_ckeck' pk=shop_pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <select>
            {% for choice_option in order_size %}
            <option value="{{ choice_option }}">{{ choice_option }}</option>
            {% endfor %}
        </select>
        <select>
            {% for choice_option2 in order_color %}
            <option value="{{ choice_option2 }}">{{ choice_option2 }}</option>
            {% endfor %}
        </select>
        {{ order_number }}
        <input type="submit" class="btn btn-dark rounded-pill col-6 mt-3">
    </form>
</body>
</html>